@{

    ViewData["Title"] = "Category Page";

}
 
<div class="text-center">
    <div class="container">
        <div class="row pt-4 pb-4">
            <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square-fill"></i> Create New Category
            </a>
        </div>

    </div>
</div>

    <table class="table">
        <thead>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model) // assume 'categories' is a list of Category objects
            {
                <tr>
                    <td>@category.CategoryId</td>
                    <td>@category.CategoryName</td> 
                </tr>
            }
        </tbody>
    </table>

</div>